@model IEnumerable<UserViewModel>

<div class="text-center">
    <h1>Users</h1>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birthday</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Birthday.ToShortDateString()</td>
                        <td>
                            <button class="btn btn-primary start-voting" data-user-id="@user.Id">Start Voting</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No users to display.</p>
    }

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.start-voting').on('click', function () {
                var userId = $(this).data('user-id');
                $.ajax({
                    type: 'POST',
                    url: '/Votings/StartVoting',
                    data: { birthdayPersonId: userId },
                    success: function (result) {
                        alert("Successully started voting");
                        window.location.href = '/Votings/AllActive';
                    },
                    error: function (error) {
                        alert('Error: ' + error.responseText);
                    }
                });
            });
        });
    </script>
}
